<div id="content-wrapper">
    <div id="headshot-div">
        <img src="../../assets/GrandCircusHeadshot/gc_heashot_cropped_circle_642sq.png"
            alt="Circular headshot of John McCarthy" id="headshot">
        <p>John McCarthy</p>
        <p>Front-End Software Developer</p>
    </div>
    <div id="about-div">
        <h2>About me</h2>
        <p>
            Doggo ipsum porgo thicc long doggo wow such tempt floofs very jealous pupper, many pats h*ck doing me a
            frighten pats, heckin wow such tempt very hand that feed shibe very jealous pupper. Heck such treat long
            doggo such treat, very good spot. Super chub long doggo heckin good boys blop, shoob mlem. Big ol pupper
            such treat ruff snoot bork, super chub pats blop, waggy wags dat tungg tho doing me a frighten. Super chub
            wow such tempt doggo borkdrive fat boi fluffer, lotsa pats fluffer thicc very hand that feed shibe. Super
            chub fat boi doge doggo, many pats.

        </p>
        <p>
            Heckin angery woofer clouds shooberino long water shoob you are doing me
            the shock floofs borking doggo tungg, I am bekom fat big ol boof waggy wags thicc. Blop heckin good boys and
            girls much ruin diet big ol many pats waggy wags wow very biscit, big ol woofer yapper very good spot. Dat
            tungg tho blep doing me a frighten boofers length boy, smol long bois.
        </p>
    </div>
</div>
