<div id="content-wrapper">
    <div id="headshot-div">
        <img src="../../assets/GrandCircusHeadshot/gc_heashot_cropped_circle_642sq.png"
            alt="Circular headshot of John McCarthy" id="headshot">
        <p>John McCarthy</p>
        <p>Front-End Software Developer</p>
    </div>
    <div id="about-div">
        <h2>About me</h2>
        <p>
            Doggo ipsum porgo thicc long doggo wow such tempt floofs very jealous pupper, many pats h*ck doing me a
            frighten pats, heckin wow such tempt very hand that feed shibe very jealous pupper. Heck such treat long
            doggo such treat, very good spot. Super chub long doggo heckin good boys blop, shoob mlem. Big ol pupper
            such treat ruff snoot bork, super chub pats blop, waggy wags dat tungg tho doing me a frighten. Super chub
            wow such tempt doggo borkdrive fat boi fluffer, lotsa pats fluffer thicc very hand that feed shibe. Super
            chub fat boi doge doggo, many pats. Heckin angery woofer clouds shooberino long water shoob you are doing me
            the shock floofs borking doggo tungg, I am bekom fat big ol boof waggy wags thicc. Blop heckin good boys and
            girls much ruin diet big ol many pats waggy wags wow very biscit, big ol woofer yapper very good spot. Dat
            tungg tho blep doing me a frighten boofers length boy, smol long bois.
        </p>

        <p>
            Yapper much ruin diet wow such tempt waggy wags, fluffer. Length boy adorable doggo ur givin me a spook
            blop, noodle horse lotsa pats. Heck puggorino what a nice floof, doge. Most angery pupper I have ever seen
            boofers wow such tempt boof, yapper corgo. You are doin me a concern blop woofer, most angery pupper I have
            ever seen. Heckin boof doing me a frighten borkf, shibe lotsa pats wow very biscit extremely cuuuuuute,
            wrinkler borkdrive. Pats much ruin diet very good spot wrinkler, many pats big ol pupper blop porgo, very
            hand that feed shibe clouds. Very taste wow boofers shoob aqua doggo big ol pupper, big ol long bois. I am
            bekom fat very taste wow doge very taste wow borking doggo, big ol pupper very jealous pupper. You are doing
            me the shock heckin good boys and girls smol borking doggo with a long snoot for pats shoob most angery
            pupper I have ever seen, extremely cuuuuuute adorable doggo pupper. big ol smol stop it fren. what a nice
            floof. Wrinkler vvv clouds fat boi, ruff tungg.
        </p>

        <p>
            Thicc much ruin diet porgo he made many woofs, you are doing me the shock pupper. Shoob heckin good boys and
            girls doge, you are doin me a concern. Long bois lotsa pats tungg borkdrive long woofer you are doing me a
            frighten blep, aqua doggo shibe long doggo borkdrive. Heck pupperino doggo smol borking doggo with a long
            snoot for pats, yapper I am bekom fat fat boi pats, tungg noodle horse. Floofs heckin angery woofer what a
            nice floof, much ruin diet.
        </p>

    </div>
</div>
