/* ~~~~~ Headshot area ~~~~~ */
#headshot-div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#headshot-div p {
    margin: 2vh 0;
    font-size: 1.3rem;
    font-weight: bold;
}

#headshot {
    max-width: 30vw;
}

/* ~~~~~ Information areas ~~~~~ */
div h2, div h1 {
    text-align: center;
}

div h1 {
    font-weight: bold;
}

div h2 {
    margin: 1rem 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    margin: 0.25rem 0;
}

.col-lists {
    display: flex;
    justify-content: space-around;
    /* padding: 0 10%; */
}
