#content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 5vw;
}

/* ~~~~~ Headshot area ~~~~~ */
#headshot-div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#headshot-div p {
    margin: 2vh 0;
    font-size: 1.3rem;
    font-weight: bold;
}

#headshot {
    max-width: 30vw;
}

/* ~~~~~ About Me area ~~~~~ */
#about-div h2 {
    text-align: center;
}
