<div class="route-content-wrapper">
    <div id="headshot-div">
        <img src="../../assets/GrandCircusHeadshot/gc_heashot_cropped_circle_642sq.png"
            alt="Circular headshot of John McCarthy" id="headshot">
        <p>John McCarthy</p>
        <p>Front-End Software Developer</p>
    </div>
    <div id="about-div" class="card-holder">
        <h1>About me</h1>
        <section class="card">
            <p>
                Doggo ipsum porgo thicc long doggo wow such tempt floofs very jealous pupper, many pats h*ck doing me a
                frighten pats, heckin wow such tempt very hand that feed shibe very jealous pupper. Heck such treat long
                doggo such treat, very good spot.
            </p>
            <p class="last">
                Super chub long doggo heckin good boys blop, shoob mlem. Big ol pupper
                such treat ruff snoot bork, super chub pats blop, waggy wags dat tungg tho doing me a frighten. Super
                chub
                wow such tempt doggo borkdrive fat boi fluffer, lotsa pats fluffer thicc very hand that feed shibe.
                Super
                chub fat boi doge doggo, many pats.
            </p>
        </section>
    </div>
    <div id="skills-div" class="card">
        <h1>Skills</h1>
        <section id="programming-languages">
            <h2>Programming Languages</h2>
            <section class="col-lists">
                <ul>
                    <li>HTML</li>
                    <li>CSS</li>
                    <li>C#</li>
                    <li>Java</li>
                    <li>C++</li>
                </ul>
                <ul>
                    <li>Typescript</li>
                    <li>Javascript</li>
                    <li>Ruby</li>
                    <li>Visual BASIC</li>
                </ul>
            </section>
        </section>
        <section id="programming-knowledge">
            <h2>Programming Knowledge</h2>
            <section class="col-lists">
                <ul>
                    <li>Git/Github</li>
                    <li>NodeJS</li>
                    <li>Agile SDLC</li>
                    <li>.NET (WPF & ASP)</li>
                </ul>
                <ul>
                    <li>Angular</li>
                    <li>JSON</li>
                    <li>RESTful API's</li>
                </ul>
            </section>
        </section>
        <section id="programming-training">
            <h2>Programming Education</h2>
            <ul>
                <li>
                    <p class="training-name">Grand Circus Front End Bootcamp</p>
                    <p class="training-info">Graduated March 27th 2020</p>
                </li>
                <li>
                    <p class="training-name">Associate of Applied Arts & Sciences (Computer Programming)</p>
                    <p class="training-name"><span class="small-txt" style="padding: 0;" >from</span> Grand Rapids Community College</p>
                    <p class="training-info">Graduated April 26th 2019</p>
                </li>
            </ul>
        </section>
    </div>
</div>
