/* ----- Header / Nav ----- */
#static-header {
    position: sticky;
    top: 0;
    right: 0;
    display: flex;
    justify-content: flex-end;
}

#btn-menu {
    background-color: #f3edec;
    color: #2f4523;
    margin-top: 2vw;
    margin-right: 2vw;
    display: flex;
}

.mat-menu-content {
    background-color: #2f4523;
}

a {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
