/* ----- Header / Nav ----- */
#static-header {
    position: sticky;
    top: 0;
    right: 0;
    display: flex;
    justify-content: flex-end;
}

#btn-menu {
    background-color: #82818a;
    /* color: #f3edec; */
    position: absolute;
    top: 2vw;
    right: 2vw;
    display: flex;
    box-shadow: 4px 4px 8px 1px black;
}

.mat-menu-content {
    background-color: #2f4523;
}

a {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
