/* ----- Header / Nav ----- */
#static-header {
    position: static;
    display: flex;
    justify-content: flex-end;
}

#btn-menu {
    background-color: #2f4523;
    display: flex;
}

mat-icon {
    color: #f3edec;
}

.mat-menu-content {
    background-color: #2f4523;
}

a {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
