<div id="static-header">
    <button mat-icon-button [matMenuTriggerFor]="menu" id="btn-menu">
        <img src="../assets/menu-white-48dp/1x/baseline_menu_white_48dp.png" alt="Green menu icon">
    </button>
    <mat-menu #menu="matMenu" class="menuPanel">
        <a mat-menu-item [routerLink]="['home']" routerLinkActive="router-link-active">
            <mat-icon>home</mat-icon>
            <span>Home</span>
        </a>
        <a mat-menu-item [routerLink]="['projects']" routerLinkActive="router-link-active">
            <mat-icon>code</mat-icon>
            <span>Projects</span>
        </a>
        <a mat-menu-item [routerLink]="['contact']" routerLinkActive="router-link-active">
            <mat-icon>contact_support</mat-icon>
            <span>Contact</span>
        </a>
        <a mat-menu-item [routerLink]="['about']" routerLinkActive="router-link-active">
            <mat-icon>account_circle</mat-icon>
            <span>About</span>
        </a>
    </mat-menu>
</div>
<router-outlet></router-outlet>
