<div class="route-content-wrapper">
    <div id="404-div" class="card">
        <h1>Page Not Found</h1>
        <h4>This page either doesn't exist or is broken.</h4>
        <p>
            The menu in the upper-right can take you to a working page or click the link below to return to the homepage.
        </p>
        <a [routerLink]="['']" routerLinkActive="router-link-active">
            <mat-icon>arrow_back</mat-icon>
            <span>Back to our site</span>
        </a>
    </div>
</div>
