/* You can add global styles to this file, and also import other style files */

/* Theme colors
white: #f3edec
grey: #82818a
green: #2f4523
black: #151319
*/

/* ~~~~~ index.html styles ~~~~~ */
* {
    box-sizing: border-box;
    font-family: 'Exo 2', "Helvetica Neue", sans-serif;
}

html,
body {
    height: 100%;
}

body {
    background-color: #151319;
    color: #f3edec;
    margin: 0;
}

/* ~~~~~ General styles ~~~~~ */

button {
    border: none;
    border-radius: 5px;
}

p.last {
    margin: 0;
}

h1, h2 {
    text-align: center;
}

a {
    display: flex;
    color: #f3edec;
    text-align: center;
    text-decoration: none;
}

/* ~~~~~ Routes ~~~~~ */
.route-content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 5vw;
}

/* ~~~~~
    "Cards"
(display sections)
    ~~~~~ */
.card {
    background-color: #2f4523;
    color: #f3edec;
    padding: 5vw;
    width: 100%;
    margin: 2vh 0;
    border-radius: 5px;
    box-shadow: 4px 4px 10px 1px black;
}

.card-holder {
    background-color: #f3edec;
    color: #151319;
    padding: 2vw;
    width: 100%;
    margin: 2vh 0;
    border-radius: 5px;
}

.card-holder .card {
    margin: 0;
}
