/* You can add global styles to this file, and also import other style files */

/* Theme colors
white: #f3edec
grey: #82818a
green: #2f4523
black: #151319
*/


* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    background-color: #151319;
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

button {
    border: none;
    border-radius: 5px;
}
